* {
    box-sizing: border-box
}

body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    background-color: #f3f6fd;
    font-weight: 400;
}

.app {
    display: flex;
    gap: 25px
}

.panel {
    background-color: white;
    min-height: 100vh;
    padding: 30px
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    cursor: pointer;
}

.menu__item {
    background: #FFFFFF;
    box-shadow: 0px 8px 14px rgba(62, 107, 224, 0.12);
    border: none;
    border-radius: 14px;
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.menu__item:hover {
    background: rgba(106, 106, 251, 1);
}

.menu__item:hover img {
    filter: brightness(0) invert(1);
}

.menu__item_active {
    background: rgba(80, 81, 249, 1);
}

.menu__item_active img {
    filter: brightness(0) invert(1);
}

.menu__add {
    background: none;
    border: 1px solid #CAD5FF;
    border-radius: 14px;
    height: 45px;
    width: 45px;
    cursor: pointer;

}

.menu__add:hover {
    background: #e7ebff79;
}

.logo {
    margin-bottom: 50px;
}

.content {
    min-width: 900px;
    margin-top: 45px
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: #000;
    font-size: 30px;
    line-height: normal;
}

.progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
    min-width: 235px;
}

.progress__text {
    display: flex;
    /* gap: 127px */
    justify-content: space-between;
}

.progress__name {
    color: #232360;
    font-size: 14px;
    line-height: normal;
}

.progress__percent {
    color: #768396;
    font-size: 12px;
    line-height: normal;
}

.progress__bar {
    border-radius: 4px;
    background: #E6E9ED;
    height: 5px;
    position: relative;
}

.progress__cover_bar {
    position: absolute;
    transition: all 1s;
    border-radius: 4px;
    background: #5051F9;
    height: 5px;
}

main {
    margin-top: 23px;
}

.habbit {
    order-radius: 10px;
    background: #FFF;
    display: flex;
    align-items: center;
    margin-bottom: 12px;

}

.habbit__day {
    /* background: #7f69da; */
    background: #FBFAFF;
    border-radius: 10px 0 0 10px;
    border-right: 2px solid #E7EBFB;
    font-size: 14px;
    line-height: 16px;
    padding: 20px 40px;
    min-width: 150px
}

.habbit__comment {
    padding: 20px 25px;
    font-size: 18px;
    line-height: 16px;
}

.habbit__delete {
    margin-left: auto;
    margin-right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
}

.habbit__delete:hover {
    background: #e7ebff79;
}

input {
    border-radius: 9px;
    border: 1px solid #E7EBFB;
    background: #FFF;
    padding: 12px 20px;
    font-family: 'Comfortaa', sans-serif;
    flex: 1;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

input::placeholder {
    color: #8899A8
}

input.error {
    border: 1px solid red
}

.habbit__form {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 0 10px 0 25px;
    position: relative;
}

.input_icon {
    padding-left: 45px;
}

.input__icon {
    position: absolute;
    top: 9px;
    left: 45px;
}

.button {
    border-radius: 9px;
    background: #EDECFE;
    border: none;

    color: #5051F9;
    font-size: 13px;
    line-height: normal;
    padding: 14px 30px;
    cursor: pointer;
}

.button:hover {
    background: #e0deff;
}

.cover {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover_hidden {
    /* display: none; */
}

.popup {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 8px 14px 12px rgba(56, 56, 56, 0.05);
    max-width: 600px;
    padding: 20px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.popup__close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    cursor: pointer;
}

.h2 {
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.icon-label {
    color: #768396;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
}

.icon-select {
    display: flex;
    gap: 25px;
    margin-bottom: 20px;
}

.icon {
    border-radius: 14px;
    border: 1px solid #5051F9;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.icon_active {
    background: #5051F9;
}

.icon:hover {
    background: #5051F9;
}

.icon:hover img {
    filter: brightness(0) invert(1);
}

.icon_active img {
    filter: brightness(0) invert(1);
}

.popup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.popup__form input {
    width: 100%;
}